.researchForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.title {
    width: 100%;
    display: flex;
    color: #512c8c;
    margin-bottom: 20px;
}

.formRowTop {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.formRowTop .formLabel {
    font-weight: bold;
    color: #512c8c;
}

.posterContainer {
    position: relative;
    width: 25%;
    height: 20rem;
    border-radius: 5px;
    background-color: #d6cef3;
    border: 2px solid #c6b1e7;
    transition: 0.3s;
}

.posterContainer:hover {
    background-color: #d7c2f8;
    border: 2px solid #512c8c;
}

.posterImg {
    height: 100%;
    width: 100%;
    margin: 0;
    border-radius: 5px;
    object-fit: cover;
}

.posterIcon {
    display: block;
    position: relative;
    font-size: 20px;
    color: #512c8c;
}

.posterOverlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 5px;
    color: #512c8c;
    cursor: pointer;
    transition: 0.3s;
}

.posterOverlay .overlayItem {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.posterOverlay .posterIcon {
    font-size: 48px;
}

.posterOverlay .posterDesc {
    font-size: 20px;
}

.posterOverlayWithFile {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    color: #512c8c;
    cursor: pointer;
    transition: 0.3s;
}

.posterOverlayWithFile .overlayItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: rgba(214, 206, 243, 0.75);
    padding: 10px;
    transition: background-color 0.3s;
}

.posterOverlayWithFile .overlayItem:hover {
    background-color: #d7c2f8;
}

.posterDesc {
    display: block;
    position: relative;
    font-size: 16px;
    font-weight: bold;
    color: #512c8c;
}

.formRowTopRight {
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.formInputRegular {
    width: 100%;
    height: 42px;
    padding: 10px;
    background-color: #d6cef3;
    outline: none;
    border: 2px solid #c6b1e7;
    border-radius: 5px;
    font-family: sans-serif;
    transition: 0.3s;
}

.formInputRegular:focus {
    border: 2px solid #512c8c;
    background-color: #d7c2f8;
}

.formInputLarge {
    height: 100%;
    padding: 10px;
    background-color: #d6cef3;
    outline: none;
    border: 2px solid #c6b1e7;
    border-radius: 5px;
    font-family: sans-serif;
    resize: none;
    transition: 0.3s;
}

.formInputLarge:focus {
    border: 2px solid #512c8c;
    background-color: #d7c2f8;
}

.formRow {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
}

.formRow .formLabel {
    font-weight: bold;
    color: #512c8c;
}

.rowContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.formLabel {
    width: 100%;
    font-weight: bold;
    color: #512c8c;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.formColumn {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.formColumnButton {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0 auto;
}

.inputWithLabel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    gap: 10px;
}

.inputWithLabel label {
    font-weight: bold;
    color: #512c8c;
}

.map {
    width: 100%;
    height: 550px;
}

.addButton {
    padding: 10px;
    background-color: #d6cef3;
    outline: none;
    border: 2px solid #c6b1e7;
    border-radius: 5px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #512c8c;
    cursor: pointer;
    transition: 0.3s;
}

.addButton:hover {
    background-color: #d7c2f8;
    border: 2px solid #512c8c;
}

.addButtonDesc {
    margin-left: 5px;
}

.plusSign {
    font-size: 20px;
}

.requirementDesc {
    color: #512c8c;
    margin-bottom: 10px;
}

.formButton {
    width: 100%;
    background-color: #512c8c;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 10px;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    border: 2px solid #512c8c;
    transition: 0.3s;
}

.formButton:hover {
    background-color: #6d3b9e;
    border: 2px solid #6d3b9e;
}

.margin {
    margin-top: 25px;
}

.alertOverlay {
    position: fixed;
    width: 100%;
    height: 3.5rem;
    padding: 0 5vw;
    top: 0;
    left: 0;
    z-index: 50;
}

.alertLink {
    color: darkgreen;
    text-decoration: underline transparent;
    transition: 0.3s;
}

.alertLink:hover {
    text-decoration: underline darkgreen;
}

.hidden {
    display: none;
}

.sent {
    background-color: #414141;
    border: 2px solid #414141;
    pointer-events: none;
}

@media (max-width: 1000px) {
    .alertOverlay {
        padding: 0;
    }
}

@media (max-width: 700px) {
    .title {
        font-size: 1em;
        justify-content: center;
    }

    .formRow {
        flex-direction: column;
        gap: 5px;
    }

    .inputWithLabel {
        width: 100%;
    }

    .rowContainer {
        gap: 5px;
    }

    .formRowTop {
        flex-direction: column;
    }

    .posterImg {
        aspect-ratio: 1 / 1;
    }

    .posterContainer {
        width: 100%;
        aspect-ratio: 1 / 1;
    }

    .formRowTopRight {
        width: 100%;
    }

    .formInputLarge {
        height: 15em;
    }
}
