.mapContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.locationBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 60px;
    color: #512c8c;
    border-radius: 5px;
}

.location {
    font-weight: bold;
}

.location.color {
    font-size: 18px;
    color: #028634;
}

.mapBoxVisible,
.mapBoxHide {
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    opacity: 1;
    margin-top: -30px;
    width: 1000px;
    height: 590px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
        rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
        rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    transition: 0.6s ease-in-out;
}

.useDescription {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #512c8c;
    font-weight: bold;
}

.mapBoxHide {
    pointer-events: none;
    opacity: 0;
    transition: 0.4s ease-in-out;
}

.mapSearchBar {
    width: 50%;
    height: 42px;
    padding: 10px;
    background-color: #d6cef3;
    outline: none;
    border: 2px solid #c6b1e7;
    border-radius: 5px;
    font-family: sans-serif;
    transition: 0.3s;
}

.mapSearchBar:focus {
    border: 2px solid #512c8c;
    background-color: #d7c2f8;
}

.map {
    border: 2px solid #c6b1e7;
    border-radius: 5px;
    z-index: 10;
    width: 90%;
    height: 20rem;
}

.exitBtn {
    display: none;
}

.researchMap {
    width: 80%;
    height: 300px;
    border: 2px solid #512c8c;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 5px;
}

@media (max-width: 700px) {
    .mapSearchBar {
        width: 100%;
    }

    .map {
        width: 100%;
        height: 15rem;
    }

    .location.color {
        font-size: 1em;
    }

    .researchMap {
        width: 100%;
    }
}
