.container {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bookmarksContainer {
    display: flex;
    flex-direction: row;
    width: 90%;
}

.logo {
    background-color: #512c8c;
    padding: 10px 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: background-color 0.5s;
}

.logo:hover {
    background-color: #6d3b9e;
}

.logoImg {
    max-height: 40px; /* ??? */
}

.researchPagePanel {
    width: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 10px;
    align-items: flex-start;
    border-radius: 10px;
    background-color: #f4f0fa;
}

.researchEditor {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    margin-bottom: 1rem;
}

.editorButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.btnBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.editorBtn {
    background-color: #512c8c;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 10px;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    border: 2px solid #512c8c;
    transition: 0.3s;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.editorBtn:hover {
    background-color: #6d3b9e;
    border: 2px solid #6d3b9e;
}

.deleteResearchConfirm {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.title {
    width: 100%;
    display: flex;
    color: #512c8c;
    margin-top: 0;
    margin-bottom: 10px;
    text-align: left;
}

.researchPageRow {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-bottom: 10px;
    background-color: #d6cef3;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 3px 3px 4px;
}

.posterContainer {
    aspect-ratio: 1 / 1.414;
    height: 325px;
    border: 2px solid #512c8c;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.25) 2px 2px 5px;
}

.posterContainer:hover img {
    transform: scale(1.05);
}

.posterImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    transition: 0.3s;
}

.posterFullScreenContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    backdrop-filter: blur(10px);
    z-index: 99;
    overflow-y: hidden;
    background-color: rgba(0, 0, 0, 0.3);
}

.btnContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.posterFullScreenCloseBtn {
    color: #512c8c;
    background-color: #debdef;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    outline: none;
    border: 2px solid #512c8c;
    cursor: pointer;
    transition: 0.3s;
    -webkit-box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.5);
}

.posterFullScreenCloseBtn:hover {
    background-color: #f4f0fa;
}

.imgContainer {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: scroll;
}

.posterFullScreen {
    object-fit: unset;

    height: 100%;
    /*align-self: center;*/

    border-radius: 10px;
    border: 3px solid #512c8c;
    pointer-events: none;
    -webkit-box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.5);
}

.basicInfoContainer {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
    padding: 0.5rem;
}

.basicInfoElement {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.basicInfoElementRow {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 5px;
}

.categoryLabel {
    color: #512c8c;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
}

.categoryValue {
    font-size: 16px;
}

.dateContainerLeft {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.dateContainerRight {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.contactDetails {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 5px;
}

.contactElement {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.icon {
    font-weight: normal;
    color: #512c8c;
}

.mapLink {
    color: #512c8c;
    text-decoration: underline 1px transparent;
    transition: 0.3s;
}

.mapLink:hover {
    color: #5c1474;
    text-decoration: underline 1px #512c8c;
}

.link {
    color: #000000;
    text-decoration: underline 1px transparent;
    transition: 0.3s;
}

.link:hover {
    color: #000000;
    text-decoration: underline 1px transparent;
}

.link:hover {
    color: #512c8c;
    text-decoration: underline 1px #512c8c;
}

.link .participantsHeader {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.participantsProgressBar {
    width: 100%;
    height: 2rem;
    /*border: 2px solid #512c8c;*/
    border-radius: 5px;
    position: relative;
}

.participantsProgressBar::-webkit-progress-bar {
    background-color: #f4f0fa;
    border-radius: 5px;
}

.participantsProgressBar::-webkit-progress-value {
    background-color: #512c8c;
    border-radius: 5px;
}

.participantsHeader {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bottomPageContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.researchPageElementColumn {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.description {
    margin: 0.75rem 0;
    width: 100%;
    text-align: left;
    white-space: pre-wrap;
}

.locationAddress {
    font-size: 1.1em;
    font-weight: bold;
    margin: 0.5rem 0;
    color: #512c8c;
}

.rewardReqContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.rewardReqElement {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.rewardReqElement ul {
    margin: 5px;
    padding-left: 15px;
    text-align: left;
}

.rewardReqElement ul li::marker {
    color: #512c8c;
}

.requirementsContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: left;
    align-content: flex-start;
}

.requirementCategory {
    color: #512c8c;
}

.rewardsList {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
    padding-left: 15px;
    text-align: left;
}

.rewardsList li {
    width: 50%;
}

.rewardsList li::marker {
    color: #512c8c;
}

.reqList {
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 5px;
}

.reqElement {
    margin: 5px;
    padding-left: 15px;
    text-align: left;
}

.reqElement li::marker {
    color: #512c8c;
}

.reqElementColumn {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.reqDescription {
    margin: 5px 0;
}

.enrollContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 1rem 0;
}

.enrollContainer a {
    color: #ad0000;
}

.enrollCheckmark {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.enrollButton {
    width: 50%;
    background-color: #512c8c;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 10px;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    border: 2px solid #512c8c;
    transition: 0.3s;
}

.enrollButton:hover {
    background-color: #6d3b9e;
    border: 2px solid #6d3b9e;
}

.disabled {
    background-color: #414141;
    border: 2px solid #414141;
    pointer-events: none;
}

.enrollIcon {
    font-size: 24px;
}

.enrollDesc {
    font-weight: bold;
    text-align: left;
}

.green {
    color: #028634;
}

.red {
    color: #ad0000;
}

.alertOverlay {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    pointer-events: none;
}

.researchNotFoundContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
    gap: 5rem;
}

.researchNotFoundInfo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: #512c8c;
}

.researchNotFoundIcon {
    font-size: 5em;
}

.researchNotFoundDesc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.desc1 {
    font-size: 2rem;
    font-weight: bold;
}

.navigationContainer {
    width: 40%;
}

.navigation {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.navigationButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.3rem;
    background-color: #512c8c;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    border: 2px solid #512c8c;
    transition: 0.3s;
}

.navigationButton:hover {
    background-color: #6d3b9e;
    border: 2px solid #6d3b9e;
}

.buttonDesc {
    width: 100%;
}

.mapContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.spanLeft {
    text-align: left;
}

.alertLink {
    color: darkgreen;
    text-decoration: underline transparent;
    transition: 0.3s;
}

.alertLink:hover {
    text-decoration: underline darkgreen;
}

@media (max-width: 1000px) {
    .container {
        width: 100%;
    }

    .researchPagePanel {
        padding: 1.5rem;
    }

    .alertOverlay {
        padding: 0;
    }

    .bookmarksContainer {
        justify-content: center;
    }

    .researchNotFoundInfo {
        flex-direction: column;
    }

    .researchNotFoundDesc {
        align-items: center;
    }

    .navigationContainer {
        width: 100%;
    }

    .desc1 {
        font-size: 1.5rem;
    }
}

@media (max-width: 700px) {
    .title {
        font-size: 1.2rem;
    }

    .researchPageRow,
    .basicInfoElementRow {
        flex-direction: column;
    }

    .enrollContainer {
        flex-direction: column;
        margin: 0.5rem 0;
        gap: 0.5rem;
    }

    .basicInfoContainer,
    .enrollCheckmark,
    .enrollButton {
        width: 100%;
    }

    .dateContainerLeft,
    .dateContainerRight {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }

    .description {
        white-space: pre-wrap;
        text-align: left;
    }

    .rewardsList li,
    .reqList {
        width: 100%;
    }

    .editorBtn {
        width: 75%;
        justify-content: center;
    }

    .editorButtons {
        width: 100%;
        flex-direction: column;
    }

    .deleteResearchConfirm {
        width: 100%;
        flex-direction: column;
        margin: 0;
    }

    .mapContainer {
        padding: 0;
    }

    .btnBox {
        width: 100%;
        flex-direction: column;
    }

    .participantsHeader {
        gap: 0.3rem;
    }
}

@media (max-width: 1000px) {
    .alertOverlay {
        padding: 0 20px;
    }
}
@media (max-width: 500px) {
    .contactElement {
        /*flex-direction: column;*/
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: left;
        align-items: flex-start;
        line-break: loose;
        word-break: break-all;
    }
    .dateContainerLeft,
    .dateContainerRight {
        flex-direction: column;
        justify-content: left;
        align-items: flex-start;
        text-align: left;
    }

    .basicInfoElement div {
        flex-direction: column;
    }
}

@media (max-width: 300px) {
    .researchPagePanel {
        padding: 15px 10px;
    }
}

@media (max-width: 250px) {
    .bookmarksContainer {
        width: 100%;
        padding: 0;
        gap: 0;
        justify-content: unset;
    }

    .bookmarksContainer > a {
        width: 67%;
        border-radius: 10px;
    }

    .bookmarksContainer > nav {
        width: 33%;
        gap: 0;
        border-radius: 10px;
    }

    .bookmarksContainer > nav > div {
        max-width: unset;
        width: 100%;
        border-radius: 10px;
    }
    .researchPagePanel {
        padding: 10px;
    }
}
