.box{
    /*background: linear-gradient(to bottom, rgba(255, 255, 255, 0.15), rgba(0, 0, 0, 0.15));*/
    background-repeat: no-repeat;
    width: 500px;
    margin: 0 auto;
    text-align: left;
    font-size: 18px;
}

.p{
    margin: 20px 0;
}