*{

}

.userPage{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /*background: rgb(238,174,202);*/
    /*background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);*/
    /*background-attachment: scroll;*/
    /*background-repeat: no-repeat;*/
    /*background-size: contain;*/
    /*background-position: center;*/
    /*background: rgb(255,0,194);*/
    /*background: linear-gradient(125deg, rgb(81, 44, 140) 0%, rgba(250, 0, 255, 0.56) 35%, rgba(0, 225, 255, 0.71) 100%);*/

}

.header{
    max-width: 30% ;
    /*margin: auto;*/
    margin-left: 125px;
    background-color: #512c8c;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.userPanel{
    /*background-color: rgba(255, 255, 255, 0.38);*/
    width: 900px;
    padding: 5vw;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: space-evenly;
    border-radius: 10px;

}

.main{
    max-width: 100%;
    padding: 5% 0;
    display: grid;
    grid-template-rows: 2fr 0.1fr 3fr;
    background: rgba( 255, 255, 255, 0.65 );
    backdrop-filter: blur( 20px );
    /*background-color: #F4F0FA;*/
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    box-shadow: 8px 10px 20px rgba(115, 115, 115, 0.5);
}

.left{
    display: flex;
    flex-direction: column;
}

.right{
    display: flex;
    flex-direction: column;
}

.navbar{
    background-color: #6D3B9E;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.userData{
    background-color: rgba(255, 255, 255, 0);
    max-width: 100%;
    padding: 5% 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
}

.userPic{
    max-width:20%;
    display: block;
    margin: 10px auto;
}

.profileImage{
    border-radius: 50%;
    border: 2px solid #6d18ee;
    max-width:100%;
    padding: 2px;
}

.separator{
    height: 3px;
    max-width: 80%;
    margin-left: 10%;
    background-color: #512c8c;
    border-radius: 2px;
}

h4{
    color: #512c8c;
    font-size: xx-large;
    margin: 20px;
}

h5{
    color: #4C8076;
    font-size: large;
    margin-block-start: 0.8rem;
}

/*.name{*/
/*    padding:15px;*/
/*}*/


.line{
    height: 3px;
    background-color: #512c8c;
}

.textInput{
    background-color: #af1414;
}

.editButton {
    width: 20%;
    padding: 0.5rem;
    margin: 0.1rem 0;
    background-color: #512c8c;
    color: #ffffff;
    font-size: medium;
    font-weight: bold;
    appearance: none;
    border: solid black 1px;
    border-radius: 5px;
}
.editButton:hover{
    cursor: pointer;
    border: solid white 1px;
    background:  #512c8c;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;
    outline: none;
}