.PageOverlay {
    top: 0;
    left: 0;
    width: 100%;
}

/* ^^^ potrzebne aby wyświetlać
       overlay do popupu        */

.MainContainer {
    /*margin: 200px auto;*/
    box-sizing: border-box;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1000;
}

/* USER PANEL */
.UserBox {
    position: relative;
    max-width: 1000px;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    flex-wrap: wrap;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}

.wrapper {
    box-sizing: border-box;
    max-width: 1000px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /*user-select: none;*/
    flex-direction: row;

    flex-wrap: wrap;
    background-color: #f4f0fa;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}

.userData,
.userDataHide {
    position: absolute;
    opacity: 1;
    width: 1000px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
        rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
        rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    border-radius: 10px;
    min-height: 500px;
    display: flex;
    flex-direction: row;
    /*user-select: none;*/
    transition: opacity 0.3s ease-in-out;
}

.userDataHide {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
}


/* PANEL RESEARCH-ÓW */
.userResearches,
.userResearchesHide {
    position: absolute;
    opacity: 1;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: #f4f0fa;
    border-radius: 10px;
    scrollbar-gutter: stable;
    padding: 5px;
    display: grid;
    justify-items: center;
    transition: opacity 0.5s ease-in-out;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.userResearchesHide {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease-in-out;
}

.userResearchCard {
    z-index: 3;
    display: grid;
    gap: 0.5rem 1rem;
    padding: 10px 20px;
    width: 100%;
    height: 100%;
    background-color: #f4f0fa;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-flow: dense;
}

h2{
    color: #512c8c;
}

/* PRZYCISKI RESEARCH-ÓW*/
.userResearchesToggles{
    display:flex;
    flex-direction: row;
    width:100%;
    justify-content: center;
    gap: 10px;
}

.inputWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    margin-top: 10px;
    z-index: 50;
    color: #ffffff;
}

.switch {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* box */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    background-color: #debdef;
    -webkit-transition: .4s;
    transition: .4s;
}

/* suwak */
.slider:before {
    position: absolute;
    content: "";
    width: 50%;
    height: 80%;
    left: 4px;
    top: 4px;
    border-radius: 10px;
    background-color: #512c8c;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #512c8c;
}

input:checked + .slider:before {
    background-color: #debdef;
    -webkit-transform: translateX(calc(100% - 8px));
    -ms-transform: translateX(calc(100% - 8px));
    transform: translateX(calc(100% - 8px));
}

.exitResBtn {
    display: flex;
    z-index: 10;
    align-items: center;
    justify-content: center;
    background-color: #debdef;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 20px;
    width: 10%;
    height: 20px;
    margin-top: 10px;
    color: #512c8c;
    border: 0px;
    border-radius: 10px 10px 10px 10px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.exitResBtn:hover {
    /*width:100%;*/
    opacity: 100%;
}

.noPosts{
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    height: 100%;
    background-color: #f4f0fa;
}
/**/

.exitBtn,
.exitBtnHide {
    position: absolute;
    opacity: 1;
    right: 15px;
    top: 10px;
    color: black;
    letter-spacing: 1px;
    font-size: 20px;
    aspect-ratio: 1/1;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    background: transparent;
    transition: all 0.3s ease-in-out;
}

.exitBtnHide {
    opacity: 0;
}



.location {
    font-size: 16px;
    font-weight: bolder;
    min-height: 24px;
    transition: 0.3s;
}

.location.color {
    color: #0b6e4f;
}

.location.margin {
    margin-top: -8px;
}

.location.hidden {
    opacity: 0;
}

.arrowIcon {
    transform: rotate(90deg);
}

.editTileLocation {
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 15%;
    color: #512c8c;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
    background: #d6cef3;
}

.Container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*MAPA*/

.mapContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    z-index: 10000;
}

.locationBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 60px;
    color: #6d3b9e;
    font-size: 18px;
    border-radius: 5px;
}

.mapBoxVisible,
.mapBoxHide {
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    opacity: 1;
    max-width: 1000px;
    width: 100%;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
        rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
        rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    transition: 0.2s ease-in-out;
    z-index: 1000;
}

.map {
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    z-index: 100;
    width: 80%;
    height: 420px;
}

.useDescription {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #6d3b9e;
    font-weight: bold;
}

.mapBoxHide {
    pointer-events: none;
    opacity: 0;
    transition: 0.4s ease-in-out;
}

.mapSearchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 300px;
    height: 40px;
    background-color: #d6cef3;
    outline: none;
    border: 2px solid #6d3b9e;
    border-radius: 5px;
    font-family: sans-serif;
    opacity: 1;
    transition: all 0.4s ease-in-out;
}

/**/

.bookmarksContainer {
    padding: 0;
    display: flex;
    flex-direction: row;
    width: 90%;
    gap: 5%;
    margin: 0 auto -1px;
}

.logo {
    background-color: #512c8c;
    padding: 10px 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: background-color 0.5s;
}

.logo:hover {
    background-color: #6d3b9e;
}

.logoImg {
    max-height: 40px;
}

.alertOverlay {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}

.OtherRightContainer {
    position: relative;
    padding: 5px;
    width: 60%;
    height: 31rem;
    font-size: 16px;
}

.OtherUsersResearches {
    display: grid;
    gap: 0.5rem 1.5rem;
    padding: 10px;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    background-color: #f4f0fa;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-flow: dense;
    scroll-snap-type: y proximity;
}

.OtherResearchesHeader {
    grid-column: 1 / -1;
    color: #512c8c;
    padding-bottom: 20px;
}

.userNotFoundInfo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: #512c8c;
}

.userNotFoundContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
    gap: 5rem;
}

.userNotFoundWrapper {
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 10px;
    align-items: flex-start;
    border-radius: 10px;
    background-color: #f4f0fa;
}

.userNotFoundIcon {
    font-size: 5em;
}

.userNotFoundDesc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.desc1 {
    font-size: 2rem;
    font-weight: bold;
}

.navigationContainer {
    width: 40%;
}

.navigation {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.navigationButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.3rem;
    background-color: #512c8c;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    border: 2px solid #512c8c;
    transition: 0.3s;
}

.navigationButton:hover {
    background-color: #6d3b9e;
    border: 2px solid #6d3b9e;
}

.buttonDesc {
    width: 100%;
}

@media only screen and (max-width: 1000px) {
    .MainContainer {
        margin: 25px 10px;
        width: unset;
    }

    .PageOverlay {
        width: 100%;
    }

    /*.MainContainer {*/
    /*    position: unset;*/
    /*    box-sizing: border-box;*/
    /*    top: unset;*/
    /*    left: unset;*/
    /*    transform: unset;*/
    /*    display: flex;*/
    /*    margin: 25px 10px;*/
    /*    width: unset;*/
    /*}*/
    /*.PageOverlay{*/
    /*    width: 100%;*/
    /*    justify-content: center;*/
    /*    align-items: center;*/
    /*    flex-direction: column;*/
    /*}*/
    /*  ^^^^^ zbędne wartości ^^^^  */
    .alertOverlay {
        padding: 0 20px;
    }

    .OtherRightContainer {
        padding-top: 30px;
        padding-bottom: 10px;

        width: 100%;
    }

    .mapBoxVisible,
    .mapBoxHide {
        width: 100%;
        /*height: 955px;*/
        top: 7%;
    }

    .mapBoxVisible,
    .mapBoxHide {
        top: 20%;
        width: 90%;
        padding: 10% 0;
    }

    .UserBox {
        flex-direction: column;
    }

    .bookmarksContainer {
        width: 90%;
        justify-content: center;
    }

    .wrapper {
        margin: auto;
        width: 100%;
    }

    .PageOverlay {
        margin-bottom: 3rem;
    }

    .userNotFoundInfo {
        flex-direction: column;
    }

    .userNotFoundDesc {
        align-items: center;
    }

    .navigationContainer {
        width: 100%;
    }

    .desc1 {
        font-size: 1.5rem;
    }

    .exitResBtn,
    .inputWrapper{
        width: 15%;
    }
}

@media only screen and (max-width: 550px) {
    .mapSearchBar {
        width: 95%;
    }

    .mapBoxVisible,
    .mapBoxHide {
        width: 90%;
        /*height: 1045px;*/
        top: 6.8%;
    }

    .OtherUsersResearches {
        width: 100%;
        padding: 0;
        grid-template-columns: repeat(1, minmax(150px, 1fr));
    }

    .exitResBtn,
    .inputWrapper{
        width: 20%;
    }
}

/*galaxy fold*/
@media only screen and (max-height: 653px) {
    .MainContainer {
        margin-top: 280px;
    }

    .logo {
        display: none;
    }

    .bookmarksContainer {
        align-items: center;
    }
}

@media only screen and (max-width: 400px) {
    .userResearchesToggles{
        gap: 5%;
    }

    .exitResBtn,
    .inputWrapper{
        width: 40%;
    }
}

@media (max-width: 250px) {
    .bookmarksContainer {
        width: 100%;
        padding: 0;
        gap: 0;
        justify-content: unset;
    }

    .bookmarksContainer > a {
        width: 67%;
        border-radius: 10px;
    }

    .bookmarksContainer > nav {
        width: 33%;
        gap: 0;
        border-radius: 10px;
    }

    .bookmarksContainer > nav > div {
        max-width: unset;
        width: 100%;
        border-radius: 10px;
    }
}
