.requirementCategoriesBox {
    display: flex;
}

.requirementRow {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.requirementContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    gap: 15px;
}

.requirementTitle {
    font-weight: bold;
    color: #512C8C;
    text-align: left;
}

.checkboxContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
}

.checkbox {
    appearance: none;
    width: 1.2em;
    height: 1.2em;
    border: 2px solid #000000;
    border-radius: 3px;
}

.checkbox::before {
    display: grid;
    place-content: center;
    content: "";
    width: 1em;
    height: 1em;;
    transform: scale(0);
    transition: .2s transform;
    box-shadow: inset 1em 1em #512C8C;
}

.checkbox:checked::before {
    transform: scale(1);
}

.checkboxColumn {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.checkboxLabel {
    display: flex;
    flex-direction: row;
    font-weight: normal;
    font-size: 14px;
    color: #000000;
    white-space: nowrap;
}

.checkboxElement {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.checkboxAge {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

@media (max-width: 700px) {
    .requirementRow {
        flex-direction: column;
    }

    .checkboxContainer {
        width: fit-content;
        flex-direction: column;
        gap: 0;
    }

}