.select {
    position: relative;
    display: flex;
    flex-direction: column;
    appearance: none;
    width: 100%;
    /*background-color: #d6cef3;*/
    /*outline: none;*/
    /*border: 2px solid #c6b1e7;*/
    /*border-radius: 5px;*/
    /*transition: all 0.3s ease-in-out;*/
    /*font-family: sans-serif;*/
    margin-bottom: 0.5rem;
}

.current {
    width: 100%;
    height: 100%;
    appearance: none;
    padding: 10px;
    background-color: #d6cef3;
    outline: none;
    border: 2px solid #c6b1e7;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    font-family: sans-serif;
    cursor: pointer;
    pointer-events: none;
}

.dropdown {
    position: absolute;
    z-index: 100;
    width: 100%;
    top: 100%;
    overflow: hidden;
    border: 2px solid #c6b1e7;
    border-radius: 5px;
}

.hidden {
    border-top: none;
    border-bottom: none;
    height: 0;
}

.option {
    appearance: none;
    border: none;
    display: flex;
    width: 100%;
    background-color: #d6cef3;
    padding: 5px 10px;
    text-align: left;
    font-size: 0.9rem;
    cursor: pointer;
}

.option:focus {
    appearance: none;
    outline: none;
    background-color: #c6b1e7;
}

.option:hover {
    background-color: #c6b1e7;
}
