.MainContainer {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1000;
}

.pageWrapper{
    box-sizing: border-box;
    max-width: 1000px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #f4f0fa;
    border-radius: 10px;
    padding: 40px;
}

.bookmarksContainer {
    padding: 0;
    display: flex;
    flex-direction: row;
    width: 90%;
    gap: 5%;
    margin: 0 auto -1px;
}

.error{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titleWrapper{
    display: flex;
    align-items: flex-end
}

.RanyWrapper{
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    gap: 5px;
}

.logoR {
    height: 100px;
    grid-row: 1;
}

.title{
    font-size: 50px;
    padding: 0;
    margin: 0;
}

.description{
    font-size: 30px;
    font-weight: bold;
    display: flex;
    text-align: center;
}

.logo {
    background-color: #512c8c;
    padding: 10px 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: background-color 0.5s;
}

.logo:hover {
    background-color: #6d3b9e;
}

.logoImg {
    max-height: 40px;
}

.button{
    position: relative;
    z-index: 0;
    padding: 0.7rem;
    font-size: medium;
    background-color: #512c8c;
    color: #ffffff;
    appearance: none;
    border: none;
    border-radius: 5px;
    transition: translate linear 0.1s;
}

.button::before {
    z-index: -1;
    position: absolute;
    content: '';
    top: 0;
    left: 50%;
    width: 0;
    height: 100%;
    transition: width ease-in-out 0.3s, left ease-in-out 0.3s;
    border-radius: 5px;
    background-color: #6d3b9e;
}

.button:hover {
    cursor: pointer;
}

.button:hover::before {
    width: 100%;
    left: 0;
}

.button:hover:active {
    background-color: #512c8c;
    translate: 0 2px;
}

.navigationContainer {
    width: 40%;
}

.navigation {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.navigationButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.3rem;
    background-color: #512c8c;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    border: 2px solid #512c8c;
    transition: 0.3s;
}

.navigationButton:hover {
    background-color: #6d3b9e;
    border: 2px solid #6d3b9e;
}

.buttonDesc {
    width: 100%;
}

@media only screen and (max-width: 1000px) {
    .MainContainer {
        margin: 25px 10px;
        width: unset;
    }

    .pageWrapper{
        padding: 30px;
    }

    .navigationContainer {
        width: 100%;
    }
}

@media only screen and (max-width: 700px) {
    .titleWrapper{
        flex-direction: column;
        align-items: flex-start;
    }
}

@media only screen and (max-width: 450px){
    .error{
        align-items: center;
    }

    .titleWrapper{
        align-items: center;
    }

    .description{
        text-align: center;
    }
}
