.container {
    max-width: 1000px;
    margin: 75px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bookmarksContainer {
    display: flex;
    flex-direction: row;
    width: 90%;
}

.logo {
    background-color: #512C8C;
    padding: 10px 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: background-color .5s;
}

.logo:hover{
    background-color: #6D3B9E;
}

.logoImg {
    max-height: 40px; /* ??? */
}

.createResearchPanel {
    width: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: space-evenly;
    align-items: flex-start;
    border-radius: 10px;
    background-color: #F4F0FA;
}

@media (max-width: 1000px) {

    .container {
        margin: 25px 10px;
    }

    .bookmarksContainer {
        justify-content: center;
    }

    .createResearchPanel {
        padding: 30px;
    }
}