.ForumContainer {
    width: 100%;
    /*position: relative;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.ForumBox,
.blurred {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column-reverse;
    max-width: 1000px;
    width: 100%;
    border-radius: 10px;
    background-color: #f4f0fa;
}

.blurred {
    filter: blur(5px);
}

.QuestionButton {
    /*cursor: pointer;*/
    /*color: white;*/
    /*text-transform: uppercase;*/
    /*border: none;*/
    /*letter-spacing: 1px;*/
    /*border-radius: 10px;*/
    /*width: 30%;*/
    /*height: 45px;*/
    /*background-color: #512c8c;*/
    /*backface-visibility: hidden;*/
    /*will-change: transform, background-color;*/
    /*transition: 0.3s;*/
    width: 25%;
    background-color: #512c8c;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 10px;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    border: 2px solid #512c8c;
    transition: 0.3s;
}

.QuestionButton:hover {
    /*transform: scale(101%);*/
    /*background-color: #6d3b9e;*/
    /*transform-origin: center;*/
    background-color: #6d3b9e;
    border: 2px solid #6d3b9e;
}

.QuestionsBox {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    gap: 1.8rem;
}

.SingleContainer {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;
    display: flex;
    border-radius: 10px;
    width: 100%;
    min-height: 30%;
}

.SingleQuestionContainer {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 5px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    border: 2px solid #512c8c;
    border-radius: 5px;
    min-width: 100%;
    height: 100%;
}

.QuestionTitle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    width: 100%;
    height: 40%;
    background-color: #debdef;
    color: #512c8c;
}

.QuestionAnswer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    width: 100%;
    height: 40%;
    background-color: #f4f0fa;
    color: white;
    /*background-color: #57545d;*/
}

.AnswerText {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
}

.Qu .QuestionAnswer button {
    margin: 0 auto;
}

.div100 {
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.QuestionAnswer {
    border-radius: 5px;
    height: 60%;
    background-color: white;
    color: black;
}

.QuestionContainer {
    display: flex;
    flex-direction: row;
}

.NewQuestionBox,
.hidden {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    max-width: 700px;
    width: 100%;
    height: 30vh;
    margin-top: 1rem;
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
    border-radius: 5px;
    /*background-color: white;*/
    transition: 0.3s;
    /*opacity: 1;*/
    /*filter: none;*/
}

.AnswerDiv,
.AnswerDivHidden {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    width: 700px;
    height: 30vh;
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
    border-radius: 5px;
    background-color: white;
    transition: 0.3s;
    opacity: 1;
    filter: none;
}

.AnswerDivHidden {
    display: none;
    opacity: 0;
    pointer-events: none;
}

.closeBtn {
    all: unset;
    position: absolute;
    cursor: pointer;
    top: 10px;
    right: 10px;
    color: white;
    filter: invert(1);
    will-change: transform;
    backface-visibility: hidden;
    transition: 0.3s;
}

.closeBtn:hover {
    transform: scale(125%);
    transform-origin: center;
}

.hidden {
    opacity: 0;
    pointer-events: none;
    display: none;
}

.NewQuestionBoxTitle {
    font-size: 18px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 5px 5px 0 0;
    color: white;
    background-color: #512c8c;
    height: 20%;
}

.QuestionArea {
    border-radius: 5px;
    resize: none;
    outline: none;
    width: 90%;
    height: 45%;
    border: 2px solid #c6b1e7;
    background-color: #d6cef3;
    padding: 10px;
    font-family: sans-serif;
    transition: 300ms;
}

.QuestionArea:focus {
    border: 2px solid #512c8c;
    background-color: #d7c2f8;
}

.QuestionButtonSend {
    font-size: 0.9rem;
    cursor: pointer;
    color: white;
    border: none;
    letter-spacing: 1px;
    border-radius: 5px;
    width: 30%;
    height: 30px;
    background-color: #512c8c;
    backface-visibility: hidden;
    will-change: transform, background-color;
    transition: 0.3s;
    margin-bottom: 20px;
}

.QuestionButtonSend:hover {
    transform: scale(101%);
    background-color: #6d3b9e;
    transform-origin: center;
}

.QuestionAddAnswer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60%;
    border-radius: 10px;
    background-color: white;
    color: black;
    padding: 10px;
}

.BtnToAddAnswer {
    font-size: 0.9rem;
    cursor: pointer;
    color: white;
    border: none;
    letter-spacing: 1px;
    border-radius: 5px;
    width: 25%;
    height: 30px;
    background-color: #c7acef;
    backface-visibility: hidden;
    will-change: transform, background-color;
    transition: 0.3s;
}

.BtnToAddAnswer:hover {
    transform: scale(101%);
    background-color: #6d3b9e;
    transform-origin: center;
}

.spanLeft {
    text-align: left;
}

@media (max-width: 700px) {
    .QuestionButton,
    .QuestionButtonSend {
        width: auto;
    }

    .QuestionsBox {
        padding: 0;
        margin: 1rem 0;
    }

    .AnswerDivHidden {
        width: 100%;
        display: none;
    }

    .BtnToAddAnswer {
        width: auto;
        margin: 0 auto;
    }

    .AnswerDiv {
        width: 100%;
        margin: 1rem 0;
    }
}
