.overlay {
    display: flex;
    z-index: 100000;
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(15px);
}

.overlay:hover {
    cursor: pointer;
}

.popupContainer {
    max-width: 600px;
    width: 60%;
    border-radius: 10px;
    padding: 10px;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border: solid rgb(109, 59, 158) 3px;
    box-shadow: 8px 8px 24px 0px rgba(109, 59, 151, 0.37);
}

.popupContainer:hover {
    cursor: default;
}

.bugInput {
    height: 71px;
    width: 85%;
    background-color: #C6B1E7;
    outline: none;
    border: solid rgb(109, 59, 158) 1px;
    border-radius: 5px;
    font-family: sans-serif;
    resize: none;
    transition: .3s;
    font-size: large;
}

.bugInput:focus {
    border: 2px solid #512C8C;
    background-color: #D7C2F8;
}

.closeBtn {
    position: fixed;
    top: 10px;
    right: 12px;
}

.closeBtn:hover {
    cursor: pointer;
}

.bugBtn {
    position: relative;
    z-index: 0;
    padding: 0.7rem;
    margin: 1rem;
    font-size: medium;
    background-color: #512c8c;
    color: #ffffff;
    font-weight: 500;
    appearance: none;
    border: none;
    border-radius: 5px;
    transition: translate linear 0.1s;
}

.bugBtn::before {
    z-index: -1;
    position: absolute;
    content: "";
    top: 0;
    left: 50%;
    width: 0;
    height: 100%;
    transition: width ease-in-out 0.3s, left ease-in-out 0.3s;
    border-radius: 5px;
    background-color: #6D3B9E;
}

.bugBtn:hover {
    cursor: pointer;
}

.bugBtn:hover::before {
    width: 100%;
    left: 0;
}

.bugBtn:hover:active {
    background-color: #512c8c;
    translate: 0 2px;
}

