.pageOverlay {
    display: flex;
    width: 100%;
}

.mainPage {
    margin: 0;
    width: 100%;
    height: 100%;

    max-width: 1000px;
    min-height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo {
    background-color: #512c8c;
    padding: 10px 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: background-color 0.5s;
}

.logo:hover {
    background-color: #6d3b9e;
}

.logoImg {
    height: 40px;
}

.bookmarksContainer {
    display: flex;
    flex-direction: row;
    width: 90%;
}

.mainPagePanel {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;

    width: 100%;

    flex-grow: 1;
    padding: 50px;
    margin: 0 auto;

    border-radius: 10px;
    background-color: #f4f0fa;

    transition: height 1s ease-in-out;
}

.optionsBox {
    display: flex;
    flex-direction: row;

    justify-content: right;

    align-self: flex-end;

    width: 100%;
    gap: 1rem;
}

.options {
    display: flex;
    flex-direction: row;
    align-self: flex-end;

    min-width: 50%;

    gap: 1rem;
}

.sortLabel {
    display: flex;
    align-items: center;
}

.selectContainer {
    position: relative;
    display: flex;

    border-radius: 5px;

    width: 100%;

    background-color: #debdef;

    transition: 0.3s;
}

.selectContainer::before {
    position: absolute;
    content: '';
    top: 0;
    left: 50%;
    width: 0;
    height: 100%;
    transition: width ease-in-out 0.3s, left ease-in-out 0.3s;
    border-radius: 5px;
    background-color: #f6e2ff;
}

.selectContainer:hover::before {
    width: 100%;
    left: 0;
}

.sortSelect {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 0;

    padding: 5px;
    width: 100%;

    background-color: transparent;
    color: #6d3b9e;
    font-size: 1.1rem;
    font-weight: 600;

    cursor: pointer;
    outline: none;
    border: none;
    appearance: none;

    transition: 0.3s;
}

.sortSelect option {
    color: black;
    background-color: #f4f0fa;
    line-height: 1.5rem;
    font-size: 1rem;
}

.tileGrid {
    display: grid;

    width: 100%;
    padding: 0;
    gap: 0.5rem 1rem;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-flow: dense;
}

@media (max-width: 600px) {
    .optionsBox {
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
    }
    .options {
        width: 100%;
        flex-direction: column;
        justify-content: flex-start;
    }

    .mainPagePanel {
        padding: 1rem;
    }

    .tileGrid {
        grid-template-columns: repeat(1, minmax(150px, 1fr));
    }
}

@media (max-width: 250px) {
    .bookmarksContainer {
        width: 100%;
        padding: 0;
        gap: 0;
        justify-content: unset;
    }

    .bookmarksContainer > a {
        width: 67%;
        border-radius: 10px;
    }

    .bookmarksContainer > nav {
        width: 33%;
        gap: 0;
        border-radius: 10px;
    }

    .bookmarksContainer > nav > div {
        max-width: unset;
        width: 100%;
        border-radius: 10px;
    }
}
