.pageOverlay {
    display: flex;
    width: 100%;
}

.mainPage {
    margin: 0;
    width: 100%;
    height: 100%;

    max-width: 1000px;
    min-height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo {
    background-color: #512c8c;
    padding: 10px 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: background-color 0.5s;
}

.logo:hover {
    background-color: #6d3b9e;
}

.logoImg {
    height: 40px;
}

.bookmarksContainer {
    display: flex;
    flex-direction: row;
    width: 90%;
}

.mainPagePanel {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;

    width: 100%;

    flex-grow: 1;
    padding: 50px;
    margin: 0 auto;

    border-radius: 10px;
    background-color: #f4f0fa;

    transition: height 1s ease-in-out;
}

.optionsBox {
    display: flex;
    flex-direction: row;

    justify-content: right;

    align-self: flex-end;

    width: 100%;
    gap: 1rem;
}

.options {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    flex-wrap: wrap;
    width: 100%;

    /*gap: 1rem;*/
    max-height: 0;
    transition: max-height 500ms ease-in-out;
}

.options.open {
    max-height: 15rem;
}

.options > :not(.jankyButton) {
    opacity: 0;
    transition: opacity 300ms ease;
    transition-delay: 200ms;
}

.options.open > :not(.jankyButton) {
    opacity: 1;
}

.jankyButton {
    z-index: 50;
}

.options > div {
    flex-grow: 1;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

.options > div > label {
    font-size: 0.9rem;
    padding: 0 3px;
    text-align: left;

    color: #6d3b9e;
    z-index: 1;

    border-radius: 5px;
    width: max-content;
}

.jankyButton {
    position: absolute;

    bottom: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 0;

    padding: 5px;
    width: 25%;
    align-self: flex-end;
    min-width: fit-content;

    background-color: #debdef;
    color: #6d3b9e;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 5px;

    appearance: none;
    border: none;

    transition: translate linear 0.1s;
}

.jankyButton::before {
    z-index: -1;
    position: absolute;
    content: '';
    top: 0;
    left: 50%;
    width: 0;
    height: 100%;
    transition: width ease-in-out 0.3s, left ease-in-out 0.3s;
    border-radius: 5px;
    background-color: #f6e2ff;
}

.jankyButton:hover {
    cursor: pointer;
}

.jankyButton:hover::before {
    width: 100%;
    left: 0;
}

.sortLabel {
    display: flex;
    align-items: center;
}

.sorterOptions {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.sorterOptions > div {
    display: flex;
    padding: 0.5rem;
    align-items: center;
    gap: 0.5rem;
}

.radio {
    margin-block: 0;
    margin: 0;
    position: relative;
    appearance: none;
    height: 1rem;
    aspect-ratio: 1/1;
}

.radio::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;

    border: 1px solid #512c8c;
    border-radius: 2px;
}

.radio:checked::before {
    background-color: #6d3b9e;
}

.selectContainer {
    position: relative;
    display: flex;

    border-radius: 5px;

    width: 100%;

    background-color: #debdef;

    transition: 0.3s;
}

.selectContainer::before {
    position: absolute;
    content: '';
    top: 0;
    left: 50%;
    width: 0;
    height: 100%;
    transition: width ease-in-out 0.3s, left ease-in-out 0.3s;
    border-radius: 5px;
    background-color: #f6e2ff;
}

.selectContainer:hover::before {
    width: 100%;
    left: 0;
}

.sortSelect {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 0;

    padding: 5px;
    width: 100%;

    background-color: transparent;
    color: #6d3b9e;
    font-size: 1.1rem;
    font-weight: 600;

    cursor: pointer;
    outline: none;
    border: none;
    appearance: none;

    transition: 0.3s;
}

.sortSelect option {
    color: black;
    background-color: #f4f0fa;
    line-height: 1.5rem;
    font-size: 1rem;
}

.tileGrid {
    display: grid;

    width: 100%;
    padding: 0;
    gap: 0.5rem 1rem;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-flow: dense;
}

.numberInputContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0.5rem;
}

.numberInput {
    padding: 5px;
    background-color: #ffffff;
    outline: none;
    border: 1px solid #c6b1e7;
    border-radius: 5px;
    transition: 0.3s;
    font-family: sans-serif;
    cursor: pointer;
}

.sidePadded {
    padding: 0 5px;
}

@media (max-width: 600px) {
    .optionsBox {
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
    }

    .options {
        margin: 2rem 0 0 0;
        width: 100%;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: nowrap;
        transition: all 500ms ease-in-out;
    }

    .options.open {
        margin: 0 0 1rem 0;
        max-height: 40rem;
    }

    .mainPagePanel {
        padding: 1rem 1rem;
    }

    .tileGrid {
        grid-template-columns: repeat(1, minmax(150px, 1fr));
    }

    .options > div {
        width: 100%;
    }

    .sorterOptions {
        flex-direction: column;
        gap: 0;
    }
}

@media (max-width: 250px) {
    .bookmarksContainer {
        width: 100%;
        padding: 0;
        gap: 0;
        justify-content: unset;
    }

    .bookmarksContainer > a {
        width: 67%;
        border-radius: 10px;
    }

    .bookmarksContainer > nav {
        width: 33%;
        gap: 0;
        border-radius: 10px;
    }

    .bookmarksContainer > nav > div {
        max-width: unset;
        width: 100%;
        border-radius: 10px;
    }
}

.select {
    position: relative;
    display: flex;
    flex-direction: column;

    appearance: none;
    width: 100%;
    /*background-color: #d6cef3;*/
    /*outline: none;*/
    /*border: 2px solid #c6b1e7;*/
    /*border-radius: 5px;*/
    /*transition: all 0.3s ease-in-out;*/
    /*font-family: sans-serif;*/
}

.current input {
    appearance: none;
    border: none;
    outline: none;
    pointer-events: none;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 0;
    padding: 0;
    width: 100%;

    background-color: transparent;
    color: #6d3b9e;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 5px;

    height: 100%;

    font-family: sans-serif;
}

.current {
    position: relative;

    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 0;

    padding: 5px;
    width: 100%;
    min-width: fit-content;

    background-color: #debdef;
    color: #6d3b9e;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 5px;

    transition: translate linear 0.1s;

    height: 100%;
    cursor: pointer;
}

.current .small {
    min-width: unset;
}

.current::before {
    z-index: -1;
    position: absolute;
    content: '';
    top: 0;
    left: 50%;
    width: 0;
    height: 100%;
    transition: width ease-in-out 0.3s, left ease-in-out 0.3s;
    border-radius: 5px;
    background-color: #f6e2ff;
}

.current:hover {
    cursor: pointer;
}

.current:hover::before {
    width: 100%;
    left: 0;
}

.dropdown {
    position: absolute;
    z-index: 50;
    width: 100%;
    top: 100%;
    overflow: hidden;

    /*border-radius: 5px;*/
    max-height: 400%;
    transition: max-height 300ms ease-in-out, border 300ms ease-in-out;
}

.hidden {
    max-height: 0;
}

.option {
    appearance: none;
    display: flex;
    width: 100%;
    background-color: #f4f0fa;
    padding: 5px 10px;
    text-align: left;
    font-size: 0.9rem;
    cursor: pointer;
    border: 1px solid #c6b1e7;
}

.option:focus {
    appearance: none;
    outline: none;
    background-color: #f6e2ff;
}

.option:hover {
    background-color: #f6e2ff;
}

@media (max-width: 300px) {
    .dropdown {
        position: fixed;
        inset: 0;
        width: 100%;

        min-width: unset;
    }
}
