.container {
    display: flex;
    flex-direction: row;
    position: relative;

    width: 100%;
}

.filtersButton {
    position: relative;

    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 0;

    padding: 5px;
    width: 100%;
    min-width: fit-content;

    background-color: #debdef;
    color: #6d3b9e;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 5px;

    appearance: none;
    border: none;

    transition: translate linear 0.1s;
}

.filtersButton .small {
    min-width: unset;
}

.filtersButton::before {
    z-index: -1;
    position: absolute;
    content: '';
    top: 0;
    left: 50%;
    width: 0;
    height: 100%;
    transition: width ease-in-out 0.3s, left ease-in-out 0.3s;
    border-radius: 5px;
    background-color: #f6e2ff;
}

.filtersButton:hover {
    cursor: pointer;
}

.filtersButton:hover::before {
    width: 100%;
    left: 0;
}

.dropdown {
    position: absolute;
    top: 100%;
    right: 0;

    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    text-align: left;

    max-height: 0;
    width: 100%;
    min-width: 25ch;

    overflow: hidden;
    z-index: 1000;

    background-color: #f4f0fa;

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: all 800ms ease-in-out;
}

.dropdown.active {
    max-height: 2000%;
}

.category {
    display: flex;
    flex-direction: column;

    width: 100%;
    padding: 5px 10px;
    border: 1px solid #c6b1e7;
}

.category :is(header) {
    font-size: 1.1rem;
    color: #7d41b7;
    font-weight: 700;
}

.category :is(span, header, label) {
    display: flex;
}

.checkbox {
    aspect-ratio: 1/1;
    height: 1rem;
    border: 1px solid #512c8c;
    border-radius: 2px;
    appearance: none;
    cursor: pointer;

    align-self: center;
}

.checkbox::after {
    content: '';
    position: relative;
    color: #f4f0fa;
    left: 2px;
    top: -2px;
}

.checkbox:checked {
    background-color: #6d3b9e;
}

.checkboxLabel {
    padding: 0 3px;
    align-items: center;
    line-height: 1.2rem;
    cursor: pointer;
}

.date {
    width: 70%;
    padding: 5px;
    background-color: #f4f0fa;
    outline: none;
    border: 1px solid #c6b1e7;
    border-radius: 5px;
    transition: 0.3s;
    font-family: sans-serif;
    cursor: pointer;
}

.checkboxSpan {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px 0;
    transition: translate 50ms ease-in-out;
}
.checkboxSpan:active {
    translate: 0 1px;
}

.dateSpan {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin: 2px 0;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    gap: 5px;
    width: 100%;
}

.dropdown .filtersButton {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
