.fullWidth{
    width: 100%;
}

.hBox{
    height: 10vh;
    margin: 0;
}

h2{
    margin: 0 auto;
    align-self: center;
    text-align: center;

    color: #6D3B9E;
}

h3{
    margin: 0 auto;
    align-self: center;
    text-align: center;

    color: #6D3B9E;
}

.loginFormBox{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 0;
}

.registerFormBox{
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    margin: 0;


}



.loginForm{
    display: flex;

    padding: 1rem 2rem;

    flex-direction: column;
}

.registerForm{
    display: flex;

    padding: 1rem 2rem;

    flex-direction: column;
}



.aPurple{
    padding: 0.3rem;

    align-self: end;
    font-weight: 700;
    font-size: 0.7rem;

    color: #512c8c;
    border-radius: 5px;
    text-decoration: none;
}

.aPurple:hover{
    color: #6D3B9E;
}

.textInput{
    width: 100%;
    height: 2rem;
    padding: 0.5rem;
    margin: 0.25rem 0;

    background-color: #C6B1E7;

    display: block;
    appearance: none;

    border: none;
}

.textInput:focus{
    appearance: none;
    outline: none;
}

.textInput:-webkit-autofill,
.textInput:-webkit-autofill:hover,
.textInput:-webkit-autofill:focus,
.textInput:-webkit-autofill:active
{
    -webkit-box-shadow: 0 0 0 50px #C6B1E7 inset;
}

.submitButton{
    padding: 0.5rem;
    margin: 0.5rem 0;


    background-color: #512c8c;
    color: #ffffff;
    font-weight: 400;
    appearance: none;
    border: none;
    border-radius: 5px;
}

.submitButton:hover{
    background-color: #6D3B9E;
    cursor: pointer;
}

.submitButton:active{

}

.orLoginWith{
    width: 100%;
    text-align: center;
    border-bottom: 2px solid #512c8c;
    line-height: 0.1rem;

    margin: 10px 0 20px;

}
.orLoginWith span{
    padding: 0 1rem;
    background-color: #F4F0FA;
}

.loginWith{
    padding: 0.5rem;
    margin: 0.5rem 0;

    flex-basis: 48%;


    background-color: #D9D9D9;
    appearance: none;
    border: none;
    border-radius: 5px;
}

.loginWith:hover{
    cursor: pointer;
}

.loginWith:active{

}

.agreementBox{
   text-align: justify;
}

.agreementBox label{
    width: 2rem;
    font-size: 1rem;
}

.checkboxInput{
    width: 1rem;
    height: 1rem;

    border: 1px solid #512c8c;
    border-radius: 2px;
    appearance: none;
    cursor: pointer;
}

.checkboxInput::after{
    content: "\2713 ";
    position: relative;

    color: #F4F0FA;
    left: 2px;
    top: -2px;
}

.checkboxInput:checked{
    background-color: #6D3B9E;
}


.flexRow{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flexColumn{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flexColumnSep{
    width: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}






.PasswordStrengthBar{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.barPart{
    content: "";
    background-color: #6D3B9E;
    width: 24%;

    height: 3px;
}
