.overlay {
    display: flex;
    z-index: 2000;
    background: rgba(255, 255, 255, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(15px);
    transition: opacity 1s ease-in-out;
}

.popupContainer {
    max-width: 600px;
    width: 60%;
    border-radius: 10px;
    padding: 10px;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 1s ease-in-out;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border: solid rgb(109, 59, 158) 3px;
    box-shadow: 8px 8px 24px 0px rgba(109, 59, 151, 0.37);
}

.popupContainer:hover {
    cursor: default;
}

.profileBtn {
    position: relative;
    z-index: 0;
    padding: 0.7rem;
    margin: 1rem;
    font-size: medium;
    background-color: #512c8c;
    color: #ffffff;
    font-weight: 500;
    appearance: none;
    border: none;
    border-radius: 5px;
    transition: translate linear 0.1s;
}

.profileBtn::before {
    z-index: -1;
    position: absolute;
    content: '';
    top: 0;
    left: 50%;
    width: 0;
    height: 100%;
    transition: width ease-in-out 0.3s, left ease-in-out 0.3s;
    border-radius: 5px;
    background-color: #6d3b9e;
}

.profileBtn:hover {
    cursor: pointer;
}

.profileBtn:hover::before {
    width: 100%;
    left: 0;
}

.profileBtn:hover:active {
    background-color: #512c8c;
    translate: 0 2px;
}

@media only screen and (max-width: 800px) {
    .popupContainer{
        width: 70%;
    }
}

@media only screen and (max-width: 500px) {
    .popupContainer{
        width: 80%;
    }
}