.alertGreen{
    position: absolute;
    top: 50%;
    left: 50%;


    background: rgba(97, 189, 72, 0.7);
    border-radius: 10px;
}

.alertGreen .sign{
    font-size: 2rem;
    content: "\2713 ";


}