.researchTile {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;

    height: 350px;
    max-width: 100%;

    background-color: #6d3b9e;
    border-radius: 5px;

    justify-content: center;
    align-items: center;

    transition: transform 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
    cursor: pointer;
    overflow: hidden;
    object-fit: cover;

    list-style-type: none;
}

.researchTile:hover {
    transform: scale(1.02);
}

.withShadow {
    -webkit-box-shadow: 5px 7px 45px -15px rgba(0, 0, 0, 1);
    -moz-box-shadow: 5px 7px 45px -15px rgba(0, 0, 0, 1);
    box-shadow: 5px 7px 45px -15px rgba(0, 0, 0, 1);
}

.withShadow.previewed {
    -webkit-box-shadow: 0px 0px 25px 0px rgba(109, 59, 158, 1);
    -moz-box-shadow: 0px 0px 25px 0px rgba(109, 59, 158, 1);
    box-shadow: 0px 0px 25px 0px rgba(109, 59, 158, 1);
}

.poster {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.tileOverlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 0;
    left: 0;

    width: 100%;
    max-height: 50%;

    padding: 0.5rem;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;

    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(3px);

    color: white;

    text-align: left;
}

.tileOverlayTitle {
    display: flex;

    margin: 0;
    padding: 0.3rem 0.2rem;

    width: 100%;

    font-weight: 700;
    font-size: 1rem;

    text-align: left;
    inline-size: 100%;
}

.tileOverlayAuthor {
    display: flex;

    margin: 0;
    padding: 0.2rem;

    width: 100%;

    font-size: 1rem;
    font-weight: 300;
}

.tileOverlayDate {
    display: flex;

    margin: 0;
    padding: 0.2rem;

    width: 100%;

    font-size: 1rem;
    font-weight: 300;
}

.previewTile {
    display: flex;
    flex-direction: column;
    grid-column: 1/-1;
    z-index: 100;

    height: 0;
    border-radius: 5px;

    overflow: hidden;
    text-overflow: ellipsis;

    font-weight: 400;

    transition: all 0.4s ease-in-out;

    -webkit-box-shadow: 0 0 0 0 rgba(109, 59, 158, 1);
    -moz-box-shadow: 0 0 0 0 rgba(109, 59, 158, 1);
    box-shadow: 0 0 0 0 rgba(109, 59, 158, 1);
}

.previewVisible {
    height: 30rem;
    scroll-snap-align: center;
}

.previewVisible.withShadow {
    -webkit-box-shadow: 0px 0px 25px 0px rgba(109, 59, 158, 1);
    -moz-box-shadow: 0px 0px 25px 0px rgba(109, 59, 158, 1);
    box-shadow: 0px 0px 25px 0px rgba(109, 59, 158, 1);
}

.previewHeader1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
    height: 3.5rem;
    padding: 0.5rem 1rem;

    background-color: #512c8c;
    color: white;
}

.previewHeader2 {
    display: flex;
    flex-direction: row;

    width: 100%;
    height: 3.5rem;
    padding: 0.5rem 1rem;

    background-color: #c6b1e7;
}

.previewBody {
    display: flex;
    flex-direction: row;
    height: 16rem;

    width: 100%;
    background-color: #f4f0fa;
}

.previewButtonContainer {
    height: 5rem;
    padding: 1rem 0;
}

.previewRollInContainer {
    height: 2rem;
}

.headerHalf {
    display: flex;
    flex-direction: column;

    height: 2.5rem;

    text-align: left;
    justify-content: center;
}

.headerLeft {
    text-align: left;
}

.headerRight {
    text-align: right;
    min-width: 25ch;
}

.bodyPart {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.5rem 1rem;

    height: 100%;
    text-align: left;
}

.bodyLeft {
    display: flex;
    min-width: 20ch;
    flex-basis: 30%;

    overflow-y: scroll;

    line-break: loose;
    hyphens: none;
}

.previewHeader1 .headerLeft {
    font-size: 1.2rem;
    font-weight: 500;
}

.list,
.requirementsList,
.rewardsList {
    display: flex;
    flex-direction: column;

    padding: 0 0 0 0.5rem;
    list-style-type: none;
}

.type {
    font-weight: 700;
}

.bodyRight {
    display: flex;
    flex-basis: 70%;
    max-width: 80ch;
    white-space: pre-wrap;

    overflow-y: scroll;
}

.h4 {
    font-weight: 700;
    font-size: 1rem;
    color: #6d3b9e;
}

.infoBox {
    display: flex;
    flex-direction: column;
}
.researchTileRequirement {
    display: flex;
    flex-direction: column;
}

.btnLink {
    text-decoration: none;
}

.researchPageButton {
    position: relative;
    z-index: 0;

    padding: 0.7rem 3rem;
    margin: 0;
    background-color: #512c8c;

    color: #ffffff;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 600;
    text-decoration: none;

    appearance: none;
    border: none;
    border-radius: 5px;

    transition: translate linear 0.1s;
}

.researchPageButton::before {
    z-index: -1;
    position: absolute;
    content: '';
    top: 0;
    left: 50%;
    width: 0;
    height: 100%;
    transition: width ease-in-out 0.3s, left ease-in-out 0.3s;
    border-radius: 5px;
    background-color: #6d3b9e;
}

.researchPageButton:hover {
    cursor: pointer;
}

.researchPageButton:hover::before {
    width: 100%;
    left: 0;
}

.researchPageButton:active {
    background-color: #512c8c;
    translate: 0 2px;
}

.rollInButton {
    position: relative;
    z-index: 0;

    width: 100%;
    height: 2rem;

    background-color: #c6b1e7;

    color: #6d3b9e;
    font-weight: 600;

    appearance: none;
    border: none;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;

    transition: translate linear 0.1s;

    background-image: linear-gradient(135deg, transparent 50%, #6d3b9e 50%),
        linear-gradient(45deg, #6d3b9e 50%, transparent 50%),
        linear-gradient(to right, transparent, transparent);
    background-position: calc(50% - 4px), calc(50% + 4px), 50%;
    background-size: 8px 8px, 8px 8px, 2.5em 2.5em;
    background-repeat: no-repeat;
}

.rollInButton::before {
    z-index: -1;
    position: absolute;
    content: '';
    top: 0;
    left: 50%;
    width: 0;
    height: 100%;
    transition: width ease-in-out 0.3s, left ease-in-out 0.3s;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #f6e2ff;

    background-image: linear-gradient(135deg, transparent 50%, #6d3b9e 50%),
        linear-gradient(45deg, #6d3b9e 50%, transparent 50%),
        linear-gradient(to right, transparent, transparent);
    background-position: calc(50% - 4px), calc(50% + 4px), 50%;
    background-size: 8px 8px, 8px 8px, 2.5em 2.5em;
    background-repeat: no-repeat;
}

.rollInButton:hover {
    cursor: pointer;
}

.rollInButton:hover::before {
    width: 100%;
    left: 0;
}

/*.rollInButton:active {*/
/*    backgroundColor: #512c8c;*/
/*    translate: 0 2px;*/
/*}*/
.largeFont {
    font-size: 10rem;
    translate: 0 -20%;
    color: white;
}

.column {
    display: flex;
    flex-direction: column;
}

.whiteFont {
    color: white;
}

.bigSvg svg {
    font-size: 8rem;
}

@media screen and (max-width: 600px) {
    .previewTile {
        display: none;
    }
}
@media (max-width: 250px) {
    .tileOverlay {
        height: 40%;
    }
}
