.rewardRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}

.removeRewardButton {
    font-weight: bolder;
    color: #512C8C;
    padding: 10px;
    background-color: #D6CEF3;
    border: 2px solid #C6B1E7;
    border-radius: 5px;
    transition: .5s;
    cursor: pointer;
}

.removeRewardButton:hover {
    background-color: #D7C2F8;
    border: 2px solid #512C8C;
}

.trashIcon {
    margin: 0 5px;
}

.invisible {
    display: none;
}

@media (max-width: 600px) {
    .rewardRow {
        display: flex;
        flex-direction: column;
    }
}