.rewardContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.formInputRegular {
    width: 100%;
    height: 42px;
    padding: 10px;
    background-color: #d6cef3;
    outline: none;
    border: 2px solid #c6b1e7;
    border-radius: 5px;
    font-family: sans-serif;
    transition: 0.3s;
}

.formInputRegular:focus {
    border: 2px solid #512c8c;
    background-color: #d7c2f8;
}

.rewardRight {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.removeRewardButton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    height: 42px;
    color: #512c8c;
    padding: 10px;
    background-color: #d6cef3;
    border: 2px solid #c6b1e7;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
}

.buttonVisible {
    font-weight: bold;
    display: none;
}

.removeRewardButton:hover {
    background-color: #d7c2f8;
    border: 2px solid #512c8c;
}

.trashIcon {
    margin: 0 3px;
}

.invisible {
    display: none;
}

@media (max-width: 500px) {
    .rewardContainer {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .removeRewardButton {
        width: 100%;
    }

    .buttonVisible {
        display: inline-block;
    }
}
