.ageIntervalContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

@media (max-width: 700px) {
    .ageIntervalContainer {
        flex-direction: column;
    }
}
