.App {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    min-height: 100%;
    max-width: 1000px;
    margin: 0 auto;

    text-align: center;
}

.App::after {
    z-index: -1000;
    content: '';
    position: fixed;
    /*top: 0;*/
    /*left: 0;*/
    inset: -5%;
    background: linear-gradient(135deg, rgba(148, 205, 233, 1) 0%, rgba(92, 19, 116, 1) 100%);
}

.divider {
    width: 100%;
    min-height: 5rem;
    transition: height 300ms ease-in-out;
}

.divider::after {
    content: '';
    height: 8rem;
}

/*@media screen and (max-width: 1050px) {*/
/*    .App {*/
/*        margin: 25px 20px;*/
/*    }*/
/*}*/

@media (max-width: 1000px) {
    .divider {
        min-height: 2.5rem;
    }

    .App {
        padding: 25px 10px;
    }
}
