html {
    box-sizing: border-box;
    font-size: 16px;
    height: 100%;
}

body {
    margin: 0;

    /*height: 100svh;*/
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
        'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

html,
body,
#root,
#root > div {
    height: 100%;
    min-height: 100%;
    max-height: max-content;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: linear-gradient(0deg, #5c1474 0%, #7360a4 100%);
}

::-webkit-scrollbar-track {
    width: 10px;
    border-right: 3px solid rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
    width: 5px;
    background-color: #ca97e6;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
}

.container {
    background-color: #f4f0fa;
    padding: 25px;
    border-radius: 5px;
}

@media (max-width: 600px) {
    ::-webkit-scrollbar {
        width: 0;
    }

    body::-webkit-scrollbar {
        width: 0;
    }

    ::-webkit-scrollbar-track {
        width: 0;
    }

    ::-webkit-scrollbar-thumb {
        width: 0;
    }
}
