.loginRegisterPage {
    width: 100%;
    height: 100%;
}

.loginRegisterPanel {
    position: relative;
    max-width: 900px;
    padding: 5vw;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: space-evenly;
    border-radius: 10px;
}

.alertOverlay {
    position: absolute;
    width: 100%;
    height: 3.5rem;
    padding: 0 5vw;
    top: 0;
    left: 0;
}

.header {
    width: 30%;
    margin: auto;
    background-color: #512c8c;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: 0.3s;
}

.header:hover {
    background-color: #6d3b9e;
}

.main {
    width: 100%;
    padding: 5% 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #f4f0fa;
    border-radius: 10px;
}

.separator {
    width: 3px;
    margin: 0;
    flex-basis: 3px;
    flex-shrink: 1;
    background-color: #512c8c;
    border-radius: 2px;
}

@media (max-width: 700px) {
    .separator {
        display: none;
        visibility: hidden;
    }

    .main {
        flex-direction: column;
    }
}
